@tailwind base;
@tailwind components;
@tailwind utilities;

.productPanel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.aside > .active {
  border-bottom: 4px solid #0c6cfd;
  border-left: 4px solid #0c6cfd;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(90deg, #efffee, #fff);
}
